<div class="centered-content">
    <div class="model-box">
        <div class="title">
            <h1>Login</h1>
        </div>
        <div class="input-holder">
            <input #userUsernameInput class="input" type="text" placeholder="Username">
        </div>
        <div class="input-holder">
            <input #userEmailInput class="input" type="text" placeholder="Email">
        </div>
        <div class="input-holder">
            <input #userPasswordInput class="input" type="password" placeholder="Password">
        </div>
        <div class="button-holder">
            <button class="button" (click)="onLoginButtonClicked(userUsernameInput.value, userEmailInput.value, userPasswordInput.value)">Login</button>
        </div>
        <br>

        <div>
            <p>Need to create an account? <a routerLink="/signup">Sign up here</a></p>
        </div>
    </div>
</div>