@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height:fit-content;
}

.model-box {
    min-height: 300px;
    width: 100%;
    max-width: 700px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 35px;
}

.input-holder {
    margin-top: 10px;
}

.input {
    width: 75%;
}

.button-holder {
    margin-top: 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
