<div class="centered-content">
    <div class="model-box">
        <h1 class="title">
            Create a new Post
        </h1>

        <div>
            <div class="input-holder">
                <input #postTitleInput class="input" type="text" placeholder="Title">
            </div>
            <div class="input-holder">
                <input #postDescriptionInput class="input" type="text" placeholder="Description">
            </div>
            <div class="input-holder">
                <input #postDepartmentCodeInput class="input" type="text" placeholder="Department Code">
            </div>
            <div class="button-holder">
                <button class="button" (click)="createPost(postTitleInput.value, postDescriptionInput.value, postDepartmentCodeInput.value)">Create Post</button>
            </div>
            <div class="button-holder">
                <button class="button" routerLink="/">Cancel</button>
            </div>
        </div>
    </div>
</div>